@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);
/*@import url(http://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,greek);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);*/
@font-face {
	font-family: RalewayThin;
	src: url(fonts/Raleway/Raleway-Thin.ttf);
}
@font-face {
	font-family: RalewayLight;
	src: url(fonts/Raleway/Raleway-Light.ttf);
}
@font-face {
	font-family: RalewayBold;
	src: url(fonts/Raleway/Raleway-Bold.ttf);
}
body {
	background-color: #FFF;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 400;
	color: #000;
}
h1 {
	color: #005c7e;
	font-size: 36px;
	line-height: 39px;
	font-weight: 300;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
h1 span {
	font-weight: 700;
}
h2 {
	margin-bottom: 12px;
	margin-top: 0px;
	font-size: 21px;
	line-height: 24px;
	color: #6F1498;
	font-weight: 600;
}
h3 {
	margin-bottom: 3px;
	font-size: 16px;
	margin-top: 0px;
	font-weight: normal;
	color: #009853;
	font-style: italic;
}
a {
	color: #069;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:focus {
	outline: 0;
}
a:hover {
	color: #09C;
	text-decoration: none;
}
a:focus, h2:focus {
	outline: none;
	text-decoration: none;
}
p {
	margin-bottom: 15px;
	margin-top: 5px;
}
ul, ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ui-widget {
	font-size: 14px;
	line-height: 17px;
	font-family: 'Roboto Condensed', sans-serif;
}
#app-header {
	background-color: #000;
	height: 36px;
	position: relative;
	width: 100%;
	background-image: url(../images/header-back.jpg);
	background-position: center top;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.app-logo {
	font-weight: bold;
	margin-bottom: 10px;
}
.app-logo img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.app-title {
	position: absolute;
	left: 34px;
	top: 14px;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 15px;
	font-family: RalewayLight;
}
.app-title span {
	font-family: RalewayThin;
}
.app-user {
	float: left;
	color: #ffffff;
	height: 14px;
	position: absolute;
	right: 18px;
	top: 10px;
}
.app-user a {
	color: #CCC;
	text-decoration: none;
}
.app-user a:hover {
	color: #FFF;
}
.app-menu {
	text-align: center;
	padding-top: 49px;
}
.app-menu ul {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
.app-menu ul li {
	margin: 0px;
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.app-menu ul li.last {
	border-right-width: 0px;
	border-right-style: none;
}
.app-menu ul li a {
	color: #CCC;
	text-decoration: none;
	display: block;
	float: left;
	font-weight: bold;
	background-color: #313131;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.app-menu ul li a:hover {
	color: #FFF;
}
.app-menu ul li a.selected {
	background-color: #FFFFFF;
	color: #000000;
}
#app-body {
	min-height: 100%;
}
#app-footer {
	color: #666666;
}
#menu {
	margin-bottom: 20px;
	float: left;
}
#page-body {
	margin-bottom: 20px;
	position: relative;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: #ffffff;
}
#dashboard {
	margin-bottom: 20px;
	width: 1040px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#nav {
	padding-right: 1px;
	padding-left: 1px;
}
#nav .ui-accordion-header {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 24px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 0px;
}
#nav .ui-accordion-content {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#nav .ui-state-active {
}
#nav .section-list, .link-set {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#nav .section-list li {
	display: block;
	font-size: 12px;
	line-height: 15px;
}
#nav .link-set {
}
#nav .section-list li span {
	font-weight: bold;
	display: block;
	padding-top: 7px;
	padding-bottom: 2px;
}
#nav .link-set li {
	border-bottom: 1px solid #cfd5d9;
}
#nav .section-list li.selected {
}
#nav .link-set li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 12px;
	cursor: pointer;
}
#nav .link-set li a:hover {
	background-color: #d6eef7;
	background-image: url(../images/menu-arrow-right.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#nav .link-set li a.selected, #nav .menu-tree li a.selected {
	font-weight: bold;
}
#nav .link-group li.has-childs, #nav .link-group li.has-childs + li {
	margin-top: 5px;
}
#nav .link-set .link-group {
	margin-bottom: 10px;
	border-top: 4px solid #cfd5d9;
}
#nav .link-group .link-group {
	margin-bottom: 0px;
	border-top: 2px solid #cfd5d9;
	border-bottom: 0px solid #cfd5d9;
}
#nav .link-group .link-group li {
	margin-left: 15px;
}
#nav .link-group .link-group li:last-child {
	border-bottom: 0px solid #cfd5d9;
}


#nav h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.page {
/*float: left;
	width: 1040px;*/
}
.page-title {
	margin-bottom: 15px;
}
.page-title .button-group-right {
	margin-top: 10px;
}
.page-inner {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.h-delimiter {
	font-size: 0px;
	line-height: 0px;
	height: 0px;
	border-top: 1px dotted #CCCCCC;
	margin-top: 4px;
	margin-bottom: 4px;
}
.h-spacer {
	height: 20px;
}
.h-spacer2 {
	height: 10px;
}
.copyright {
	font-size: 11px;
	line-height: 14px;
	color: #666;
	padding: 15px;
	text-align: center;
}
ul.section-menu {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	list-style-type: none;
	padding-right: 10px;
}
ul.section-menu li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
ul.section-menu li a {
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
}
ul.section-menu li a:hover {
}
ul.section-menu li a.selected {
	font-weight: bold;
}
ul.section-menu .del {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px dotted #363636;
	margin-right: 14px;
}
.page-1col {
}
.page-2cols {
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
}
.page-col {
	float: left;
}
.column-inner {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.page-2cols .page-left {
	width: 50%;
}
.page-2cols .page-right {
	width: 50%;
}
/* SECTION ------------------------------------------------------------------------------------*/

.content-inner {
	overflow-x: hidden;
	overflow-y: auto;
	border: 0px solid #000000;
	padding-top: 0px;
}
.section {
	position: relative;
}
.page-section {
}
.page-section-header {
	position: relative;
}
.page-section-header h2 {
	margin-bottom: 0px;
	display: block;
	margin-right: 80px;
	text-transform: uppercase;
}
.page-section-menu {
	position: absolute;
	top: 0px;
	right: 0px;
}
.page-section-menu .button-set {
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.page-section-body {
}
.page-section-footer {
	padding-top: 10px;
	padding-bottom: 10px;
}
.section-2cols {
	overflow: auto;
}
.section-col {
	float: left;
}
.section-2cols .section-left {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
.section-2cols .section-right {
	float: left;
	padding-left: 10px;
}
.section-set1 .section-left {
	width: 160px;
}
.section-set1 .section-right {
	width: 816px;
}
.section-set2 .section-left {
	width: 294px;
}
.section-set2 .section-right {
	width: 696px;
}
.subsection-2cols {
	overflow: auto;
}
.subsection-2cols .subsection-left {
	margin-right: 10px;
	float: left;
}
.subsection-2cols .subsection-right {
	float: left;
	width: 490px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
/* BLOCK ------------------------------------------------------------------------------------*/
.block {
	margin-top: 15px;
}
.block-header {
	position: relative;
	padding-bottom: 3px;
}
.block-header h2 {
	margin-bottom: 0px;
}
.block-menu {
	position: absolute;
	right: 0px;
	top: -4px;
}
.block-menu .block-buttons {
	margin-top: 5px;
}
.block-body {
	border-top: 3px solid #e6e9eb;
}
.block-footer {
	padding-top: 10px;
}
.block-footer .button-set {
	padding-bottom: 0px;
}
.block-section {
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.block-2cols {
	overflow: auto;
}
.block-2cols .block-left {
	margin-right: 20px;
	float: left;
}
.block-2cols .block-right {
	float: left;
}
/* OTHERS ------------------------------------------------------------------------------------*/
.box {
	border: 1px solid #cfd5d9;
}
.box .page-section-inner {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	background-color: #ffffff;
}
.space-top {
	margin-top: 15px;
}
.errors {
	margin-bottom: 12px;
	padding-bottom: 6px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F00;
}
.errors ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.errors ul li {
	padding: 0px;
	list-style-type: none;
	color: #F00;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.progress-bar {
	/*margin-left: 201px;*/
	/*margin-top: 118px;*/
	margin-left: 0px;
	margin-top: 50px;
	width: 186px;
	margin-bottom: 10px;
	background-color: #000000;
	padding-top: 12px;
	padding-right: 2px;
	padding-bottom: 8px;
	padding-left: 8px;
}
.progress-bar-inner {
	background-image: url(../images/progress.gif);
	height: 14px;
	border: 1px solid #ffffff;
}
.page-notes {
	color: #626262;
	font-style: italic;
	margin-top: 30px;
}
.section-link {
	margin-left: 20px;
	margin-right: 20px;
	height: 3px;
	background-color: #cfd5d9;
}
.section-link-edit {
	margin-left: 20px;
	margin-right: 20px;
	height: 2px;
	background-color: #FF9900;
}
.calendar {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}
.calendar-inner {
	overflow-y: scroll;
	height: 520px;
}
.calendar-month-title, .calendar-year-title {
	float: left;
	width: 28px;
	border-top: 1px solid #999999;
	margin-right: 8px;
	padding-top: 6px;
}
.calendar-month-data, .calendar-weeks-data {
	float: left;
}
.calendar-month-title h3, .calendar-year-title h3 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg);
	border-left-width: 1px;
	color: #999999;
	font-size: 24px;
	white-space: nowrap;
	margin-left: 0px;
	line-height: 28px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.calendar-month {
	overflow: auto;
	margin-top: 4px;
	margin-bottom: 4px;
}
.calendar-allweeks {
	overflow: auto;
	margin-top: 4px;
	margin-bottom: 4px;
}
.page-calendar .calendar-header {
	margin-left: 32px;
	margin-right: 24px;
}
.page-calendar .block-footer {
	border-top: 1px solid #FFFFFF;
}
.calendar-single-column {
	width: 176px;
}
.xpanel-title h1 {
	margin-bottom: 0px;
}
table tr td a.category {
	font-weight: bold;
}
.label {
	font-style: italic;
	color: #666666;
	display: block;
}
ul.data-set li {
	margin-bottom: 4px;
}
.parameter {
	margin-top: 10px;
}
.parameter-label {
}
.parameter-value {
	display: block;
	font-size: 30px;
	line-height: 34px;
	color: #888888;
	margin-bottom: -4px;
}
.page-section-title .subtitle {
	margin-top: 2px;
	font-weight: bold;
}
.edit {
	border-color: #FF9900;
	background-color: #FFF4E7;
}
.canvasjs-chart-credit {
	display: none;
}
.big-chart {
	margin-top: 10px;
}
.block-menu ul {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	list-style-type: none;
}
.block-menu ul li {
	display: inline;
	float: left;
}
.block-menu ul li a {
	display: block;
	width: 20px;
	height: 20px;
	margin-left: 4px;
	background-image: url(../images/circle-buttons.png);
	background-repeat: no-repeat;
}
a.bt-search {
	background-position: 0px 0px;
}
a.bt-add {
	background-position: -20px 0px;
}
a.bt-delete {
	background-position: -40px 0px;
}
a.bt-edit {
	background-position: -60px 0px;
}
.table-filter {
	background-color: #eeeeee;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-bottom: 3px solid #DDDDDD;
}
.first {
	margin-top: 0px;
}
.row {
	margin-right: -10px;
	margin-left: -10px;
}
.col-md-2, .col-md-5, .col-md-6, .col-md-10, .col-md-4, .col-md-12, .col-md-3 {
	padding-left: 10px;
	padding-right: 10px;
}
.tbl-data .col-md-2, .tbl-data .col-md-10, .tbl-data .col-sm-2, .tbl-data .col-sm-10 {
	padding-left: 0px;
	padding-right: 0px;
}
.dialogContent .row {
	margin-right: -2px;
	margin-left: -2px;
}
.dialogContent .col-md-6, .dialogContent .col-md-12, .dialogContent .col-sm-6, .dialogContent .col-sm-12 {
	padding-left: 2px;
	padding-right: 2px;
}
table td [class*="row"]:not(:first-child) {
   margin-top: 2px;
}
.btn {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 4px 8px;
}
.field-pick {
	float: left;
}
.field-data {
	margin-left: 32px;
}
.section-link-first {
	display: none;
}
.tbl-list .paging table {
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
}
.tbl-list .paging table td {
	border: 0px none;
}
.tbl-data label {
	font-weight: normal;
}
.page-actions {
	margin-bottom: 10px;
	height: 32px;
}
#jPanelMenu-menu {
	background-color: #f2f4f5;/*background-color: #005c7e;*/
}
div.jPanelMenu-panel {
	min-height: 600px;
}
.menu-trigger {
	position: absolute;
	top: 0px;
	left: 10px;
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	cursor: pointer;
}
#app-header[data-menu-position="open"] {
	margin-left: 200px;
}
.row-spacer {
	height: 15px;
}
.gwt-DialogBox {
	z-index: 1000;
	padding: 3px;
	background-color: #e6e9eb;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px 0px #727272;
	box-shadow: 0px 0px 10px 0px #727272;
	margin: 0px;
	top: 36px;
	left: 0px;
}
.gwt-PopupPanelGlass {
	z-index: 1000;
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}
.dateBoxPopup {
	z-index: 1003;
}
.dialog-logo {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 5px;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #cfd5d9;
  border-bottom: 1px solid #ffffff;
}
.print-date {
	text-align: center;
	display: none;
}

/* START Datepicker */
.gwt-DatePicker {
	border: 2px solid #ccc;
	border-top: 2px solid #cfd5d9;
	cursor: default;
	-webkit-box-shadow: 0px 0px 10px #cfd5d9;
	box-shadow: 0px 0px 10px #cfd5d9;
}

.gwt-DatePicker td, .datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerDays {
	width: 100%;
	background: white;
	border-collapse:separate;
}

.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
	font-size: 85%;
	line-height: 170%;
	text-align: center;
	padding: 4px;
	outline: none;
	font-weight: bold;
	color: #333;
	border-right: 1px solid #cfd5d9;
	border-bottom: 1px solid #cfd5d9;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
	background: #d6eef7;
	padding: 3px 4px 2px 4px;
	cursor: default;
	color: #666;
	font-size: 70%;
	font-weight: normal;
}

.datePickerDay {
	padding: 4px 7px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsWeekend {
	background: #f2f4f5;
	color: #005c7e;
}

.datePickerDayIsFiller {
	color: #999;
	font-weight: normal;
}

.datePickerDayIsValue {
	background: #6F1498;
	color: #ffffff;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #d7dfe8;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #fff;
	background: url(images/hborder.png) repeat-x 0px -2607px;
}

.datePickerMonthSelector {
	width: 210px;
	padding: 1px 0 2px 0;
	background: #159bcd;
	border-collapse:separate;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
}

.datePickerPreviousButton, .datePickerNextButton {
	font-size: 150%;
	line-height: 1em;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px;
	outline: none;
	margin-top: -3px;
}

/* END Datepicker */
.inpage-nav {
	margin-bottom: 15px;
	display: none;
}
.inpage-nav a {
	display: block;
	text-align: center;
	border: 1px solid #e6e9eb;
	font-size: 16px;
	margin-bottom: 1px;
	padding: 4px;
}
.inpage-nav a:hover {
	background-color: #d6eef7;
	border: 1px solid #005c7e;
}
.round-dialog {
	width: 104px;
	background: transparent;
}
.round-dialog .Caption {
	text-align: center;
}
#preloader-container {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	width: 30px;
	height: 30px;
	padding: 15px;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 40px;
	border: 10px solid rgba(200, 200, 200, 0.5);
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#preloader-container:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;	
	content:'';
	position: absolute;
	border-bottom: 1px solid #cfd5d9;
	width: 60px;
	height: 30px;
	top: 0px;
	left: 0px;
	background-color:rgba(120, 120, 120, 0.5); 
	border-radius: 30px 30px 0px 0px;
}
#preloader-container:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;	
	content:'';
	position: absolute;
	border-left: 1px solid #cfd5d9;
	width: 30px;
	height: 60px;
	top: 0px;
	left: 30px;
	background-color:rgba(160, 160, 160, 0.5); 
	border-radius: 0px 30px 30px 0px;
}
#preloader{
	z-index: 5;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	position:relative;
    width:28px;
    height:28px;
    background: #005c7e;
    border-radius:50px;
    animation: preloader 1.5s infinite linear;
	border: 1px solid #CCCCCC;
}
#preloader:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position:absolute;
    width:40px;
    height:40px;
    border-top:5px solid #FF0000;
    border-bottom:5px solid #FF0000;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-radius:40px;
    content:'';
    top:-11px;
    left:-11px;
    animation: preloader_before 1.5s infinite linear;
}
#preloader:after{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position:absolute;
    width:50px;
    height:50px;
    border-top:10px solid #098E21;
    border-bottom:10px solid #319999;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-radius:50px;
    content:'';
    top:-21px;
    left:-21px;
    animation: preloader_after 1.5s infinite linear;
}
@keyframes preloader {
    0% {background: #990000;}
    50% {background: #FF0000;}
    100% {background: #990000;}
}
@keyframes preloader_before {
    0% {transform: rotate(0deg); border-top:5px solid #6F1498; border-bottom:5px solid #FF0000;}
    50% {transform: rotate(-180deg); border-top:5px solid #FF0000; border-bottom:5px solid #6F1498;}
    100% {transform: rotate(-360deg); border-top:5px solid #6F1498; border-bottom:5px solid #FF0000;}
}
@keyframes preloader_after {
    0% {transform: rotate(0deg); border-top:10px solid #005c7e; border-bottom:10px solid #1a9ecf;}
    50% {transform: rotate(180deg); border-top:10px solid #1a9ecf; border-bottom:10px solid #005c7e;}
    100% {transform: rotate(360deg); border-top:10px solid #005c7e; border-bottom:10px solid #1a9ecf;}
}

/* ------------------------------------------------------------------ */

@-moz-document url-prefix() {
.bc-button-text-icon .bc-button-icon, .bc-button-text-icons .bc-button-icon {
	 margin-top: -11px;
}
fieldset { 
  	display: table-cell; 
}
}

/* ------------------------------------------------------------------ */

@media (max-width: 991px) {
.section-link-first, .inpage-nav, .bt-top {
	display: block;
}
}
@media (max-width: 768px) {
[class*="col-"]:not(:first-child) {
   margin-top: 2px;
}
.field-double .field-double-right .form-control {
	border-left: 1px solid #ccc;
}
}
@media (min-width: 640px) {
div[data-menu-position="open"] .jPanelMenu-panel {
	padding-right: 200px;
}
}
