body, .tbl-data {
	font-size: 12px;
}
div[data-menu-position="open"] {
	margin-left: -200px;
}
#app-header, #app-footer, .messages, .button-group-right, .page-title, .filter-bar, .block-header, .page-section-menu {
	display: none;
}
.box {
	border: 0px none;
}
.box .page-section-inner {
	padding: 0px;
}
h2 {
	font-size: 24px;
	line-height: 1.1em;
	text-align: center;
	color: #000000;
}
.page-section-header h2 {
	margin-right: 0px;
}
.print-date {
	text-align: center;
	display: block;
}
.tbl-data table tr.tab-header td {
	font-size: 10px;
}

